List

In [2]:
string_1 = 'Ben Clarusway öğrencisiyim.'

new_list_1 = list(string_1)  # we created multi element list
print(new_list_1)

new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

['B', 'e', 'n', ' ', 'C', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y', ' ', 'ö', 'ğ', 'r', 'e', 'n', 'c', 'i', 's', 'i', 'y', 'i', 'm', '.']
['Ben Clarusway öğrencisiyim.']

In [32]:
liste = []
liste.append("12")
liste.append("zers")

print(liste)

['12', 'zers']

In [33]:
liste.insert(1, "fizik")
print(liste)

['12', 'fizik', 'zers']

In [ ]:
liste.remove('fizik')
print(liste)

In [34]:
liste.sort()
print(liste)

['12', 'fizik', 'zers']

In [37]:
len(liste)

2

In [38]:
my_list = [1, 3, 5, 7]
print(my_list * 3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

In [39]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city[1] = 'adana'  # we assign 'Melbourne' to index 1
print(city)

['New York', 'adana', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [47]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
del city[1]
print(city)

['New York', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [51]:
city.pop(1)
print(city)

['New York', 'Addis Ababa']

In [48]:
city.index('Istanbul')

1

✔Indexing a List

✔Slicing a List

In [61]:
count = list(range(11))
# count = [*range(11, 22, 2)] # range(start, stop[, step])

print(count[0:11:2])

[11, 13, 15, 17, 19, 21]

In [68]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[::2])

['elephant', 'fox', 'rabbit', 'giraffe']

In [75]:
print(len([[12, 34, 56]][0]))

3

In [76]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-3])

['swordfish', 'shark', 'whale', 'jellyfish']

In [77]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

[8, 7, 6, 5]
[]

Tuples:
Listeden en önemli farkı , değişmez olmasıdır .

In [78]:
try_tuple = ('love',)

print(try_tuple)

print(type(try_tuple)) # it's a tuple type.

('love',)
<class 'tuple'>

In [ ]:
planets = 'mercury', 'jupiter', 'saturn'

print(planets)
print(type(planets))

In [ ]:
empty_tuple_1 = tuple()

print(empty_tuple_1)
print(type(empty_tuple_1))

In [79]:
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)

my_list = list(my_tuple)

print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [80]:
my_list = [1, 4, 3, 4, 5, 6, 7, 4]

my_tuple = tuple(my_list)

print(type(my_tuple), my_tuple)

<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [ ]:
mountain = tuple('Alps')
print(mountain)

In [ ]:
mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))

In [ ]:
even_no = (0, 2, 4)
print(even_no[0])    
print(even_no[1])    
print(even_no[2])   
print(even_no[3])

In [82]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)
city_tuple[0] = 'New York'  # you can't assign a value
print(city_tuple)

TypeError: 'tuple' object does not support item assignment

In [87]:
my_list = list(range(1,11))
my_list.sort()
print(my_list[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Dictionaries

In [ ]:
mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}

In [ ]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)

In [88]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [91]:
dict_by_dict.update({"iyimi" : "iyi"})
print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'iyimi': 'iyi'}

In [93]:
del dict_by_dict["iyimi"]
print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [96]:
print("animal" in dict_by_dict)
print("ani" not in dict_by_dict)

True
True

Sets
Bu yöntemler:

.add(): Sete yeni bir öğe ekler.

.remove(): Bir öğeyi silmemizi sağlar.

.intersection(): İki kümenin kesişimini verir.

.union(): İki kümenin birleşimini döndürür.

.difference(): İki setin farkını alır.

In [97]:
colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'}

print(colorset)
print(colorset)

{'darkblue', 'red', 'orange', 'purple', 'yellow'}
{'darkblue', 'red', 'orange', 'purple', 'yellow'}

In [100]:
s = set('unselfishness')

print(s)

{'n', 'e', 'f', 'l', 'u', 's', 'i', 'h'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a | b)  # same as '.union()' method
print(a.union(b)) # unification of a with b

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a & b)  # same as '.intersection()' method
print(a.intersection(b)) # intersection of a and b

In [ ]:
a = set('abracadabra')

a.remove('c') # we delete 'c' from the set
print(a)

In [ ]:
a = set('abracadabra')

a.add('c') # we add 'c' again into the set
print(a)

In [103]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)
print(numbers)

25
{'x': 12, 'y': 4, 'z': 3}

In [107]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])

spinach